{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": false,
  "plugins": ["prettier-plugin-glsl", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.frag"],
      "options": {
        "parser": "glsl-parser"
      }
    }
  ]
}
